/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --bg:#0E0E0E; --fg:#FFFFFF; }
html,body { background:var(--bg); color:var(--fg); }
* { -webkit-tap-highlight-color: transparent; }
